.sidebar{
    flex: 0.7;
    height: 100%; /* 화면 높이에서 50px을 뺀 만큼의 높이 */
    background-color: rgb(240, 239, 239);
    align-items: center;
    position: sticky;
    top: 50px;
}

.sidebarWrapper{
    padding: 20px;
    color: #555;
}

.sidebarListItem{
    margin-top: 20%;
    cursor: pointer;
    border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover{
    background-color: rgb(212, 209, 235);
}

.sidebarIcon{
    margin-right: 10px;
    font-size: 20px !important;
}

.SideAvatar{
    margin-top: auto;
    margin-left: 2.8vw;
    height: clamp(200px, 12vw, 120px); /* 최소 100px, 뷰포트 너비의 12%, 최대 120px */
    width: clamp(200px, 13vw, 130px); /* 최소 100px, 뷰포트 너비의 13%, 최대 130px */
    border-radius: 50%;
    cursor: pointer;
}

.SidebarText{
    text-align: center;
    font-size: clamp(20px, 3vw, 30px); /* 최소 20px, 뷰포트 너비의 3%, 최대 30px */
}

.SidebarLogo{
    margin-top: 5vw;
    margin-left: 1vw;
}
