.GraphBox{
    width: 100%; /* 유지 */
    display: flex;
}

.GraphBoxIn{
    flex:1;
    margin: 1.5vw; /* 상대적인 마진 값 설정 */
    padding: 3vw; /* 유지 */
    border-radius: 1vw; /* 상대적인 값을 사용 */

    -webkit-box-shadow: 0px 0px 1.2vw -0.1vw #000000; /* 상대적인 그림자 크기 */
    box-shadow: 0px 0px 1.2vw -0.1vw #000000; /* 상대적인 그림자 크기 */
}

.GraphBoxContainer{
    margin: 1vw 0; /* 상대적인 마진 값 설정 */
    display: flex;
    align-items: center;
    padding: 0.5vw; /* 유지 */
}

.GraphBoxFont{
    font-size: clamp(1.6vw, 2vw, 2.5vw); /* vw 단위를 사용하여 해상도에 따라 조정 */
    font-weight: 550; /* 수정된 폰트 무게 (기존 값이 잘못된 것으로 보임) */
    white-space: nowrap;

}

.GraphBoxRate{
    display: flex;
    align-items: center;
    margin-left: 2vw; /* 상대적인 마진 값 설정 */
}
